<h1>Here are all your tasks!</h1>
<p>Do them now!</p>

<% @tasks.each do |task| %>
  <h2><%= task.name %></h2>
  <p><%= task.priority %></p>
  <p><%= task.done %></p>

<%= link_to "Show", task_path(task.id) %>
<%= link_to "Edit", edit_task_path(task.id) %>
<%= link_to "Delete", task_path(task.id), method: :delete %>
<% end %>
<br>
<br>
<%= link_to "Create New", new_task_path %>

<!-- #show all
#link_to "Show" show_path
#link_to #Edit edit_path
#link_to #Create New new_path -->

<!-- link_to delete hint: add method delete to link_to helper -->
